# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude terraform.tfvars as it may contain sensitive data
terraform.tfvars

# Keep the example file
!terraform.tfvars.example

# Ignore CLI configuration files
.terraformrc
terraform.rc

# OS specific files
.DS_Store